---
permalink: /feed/feed.txt
---
{{ settings.title }}
{{ settings.url }}

{% for post in collections.archive | limit(20) -%}
{{ post.date | dateToRfc3339 }}	{{ post.data.title | plainText | safe }}	{{ post.url | fullUrl }}
{% endfor %}
